.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container button {
  background-color: rgb(24, 24, 24);
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  height: 30px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.container button[disabled] {
  cursor: not-allowed;
  background-color: rgb(39, 37, 37);
}

.container input {
  height: 28px;
  width: 30px;
  text-align: center;
  border: 1px solid rgb(24, 24, 24);
  border-radius: 3px;
}
