.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1em;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  gap: 0.5em;
}

.button {
  margin-top: 1.5em;
  background-color: rgb(24 24 24);
  color: khaki;
  border: 1px solid khaki;
  border-radius: 0.375rem 0 0.375rem 0;
}

.button:active,button:focus {
  background-color: transparent;
}

.pagContainer {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1em;
  width: 20%;
  margin-top: 2em;
  margin-left: 32em;
}

.pagContainer button {
  background-color: black;
  color: khaki;
  border: 2px solid khaki;
  border-radius: 0 0.375rem 0.375rem 0;
}

.filtros {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1em;
}

.filtros select {
  width: 65px;
  cursor: pointer;
  height: 4.2vh;
  color: khaki;
  background-color: rgb(24, 24, 24);
  border-color: inherit;
  border: 2px solid khaki;
  border-radius: 0 0.375rem 0.375rem 0;
}
