.container {
  display: grid;
  grid-template-columns: repeat(auto-fit);
}

.navLink {
  color: khaki;
  font-size: small;
  max-width: 250px;
  text-align: center;
  text-decoration: none;
  display: grid;
  place-items: center;
  font-family: serif;
}

.card {
  width: 190px;
  height: 274px;
  background: rgb(24 24 24);
  padding: 0.4em;
  border-radius: 0.9rem 0 0.9rem 0;
  border: 1px solid khaki;
}

.card img {
  width: 190px;
  height: 100px;
  margin-bottom: 1em;
  border-radius: 0.375rem 0 0.375rem 0;
  border: 1px solid khaki;
}

.card h4 {
  max-width: 150px;
  text-align: center;
}
