.container {
  display: grid;
  grid-template-columns: repeat(auto-fit);
  /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
  /* grid-gap: 10px; */
}

.navLink {
  color: khaki;
  font-size: small;
  max-width: 250px;
  text-align: center;
  display: grid;
  place-items: center;
}

.card {
  background-color: rgb(24, 24, 24);
  padding: 15px;
  display: grid;
  place-items: center;
  border: 1px solid black;
  border-radius: 5%;
}

.card img {
  width: 250px;
  height: 200px;
}

.card h4 {
  max-width: 150px;
  text-align: center;
}
